<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SPJ</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h1 class="title">Shendy Pratama Junianto</h1>
        <h2 class="subtitle">WEB Developer</h2>
        <p class="description">
          Lulusan S1-Ilmu Komputer Universitas Lampung.
          <br>
          Memiliki pengalaman di bidang web seperti PHP native, Laravel, Node JS dan React JS.
        </p>
        <!-- Tambahkan atribut href -->
        <a class="index-button" href="/index">Lihat CV</a>
      </div>
      <div class="top-image">
        <img src="/gambar/Resume.svg">
      </div>
    </div>
  </body>
</html>